<h1> All users</h1>

<%= will_paginate %>

<ul class="foobars">
  <%= render @users %>
  <!--<%# @users.each do |user| %>-->
      <!--<%#= render 'user', :user => user %>-->
  <!--<%#end %>-->
</ul>

<%= will_paginate %>