<footer>
  <nav class="round">
    <ul>
      <li>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path%>
        <%= link_to "News", 'http://news.railstutorial.org/' %>
        <%= link_to "Rails Tutorial", 'http://railstutorial.org/' %>
      </li>
    </ul>
  </nav>
</footer>